body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
  transition: background 0.5s, color 0.5s;
}

  
  .dark-mode .card {
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #555;
  }
  
  .dark-mode .navbar,
  .dark-mode .footer {
    background-color: #222;
    color: white;
  }
  
  .dark-mode a {
    color: gold;
  }
  